@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.attribution {
     font-size: 11px; text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%);
}

body{
    background-color: hsl(212, 45%, 89%);

    
}

.main{
    width: 22rem;
    height: 33.5rem;
    background-color: hsl(0, 0%, 100%);
    margin: 11rem auto 0;
    border-radius: 20px;
}

.main img{
    width: 20rem;
    position: relative;
    border-radius: 10px;
    left: 1rem;
    top: 1rem;
}

.main h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 1.5rem;
    width: 17rem;
    margin: 2rem auto 1rem;
}

.main p{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    width: 17rem;
    margin: 1rem auto;
    color: hsl(220, 15%, 55%);
}

@media only screen and (max-width: 400px) {
    
    .main{
        margin-top: 8rem;
        width: 20rem;
        height: 32rem;
    }

    .main img{
        width: 18rem;
    }
  }